{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .card-img-left {
            max-width: 40px;
        }

        .card-custom-header {
            margin-top: -1.25rem;
            margin-bottom: 5px;
            margin-left: -1.25rem;
            background-color: white;
        }

        .card-custom-content {
            margin-left: 15px;
        }
    </style>
</head>

<body>

    <!-- Navigation bar -->
    {% include "djangoapp/navbar.html" %}

    <div class="m-4">
        <h5 class="">Reviews for&nbsp;<span class="font-weight-bold">{{ dealer_details.full_name }}</span></h5>

        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'djangoapp:add_review' dealer_id=dealer_details.id %}">Add review</a>
        {% endif %}

    </div>
    <!-- Add reviews as cards -->
    <div class="container mt-3">
        {% if reviews %}
        <div class="row">
            {% for review in reviews %}
            <div class="col-4 mb-4">
                <div class="card" style="">
                    <div class="card-body bg-light">
                        <div class="card-custom-header row">
                            <img class="card-img-left" src="{{ MEDIA_URL }}emoji/positive.png">
                        </div>
                        <div class="card-custom-content">
                            <h5 class="card-title font-weight-bold">{{ review.car_make }}, {{ review.car_model }}</h5>
                            <h5 class="card-title font-weight-bold">{{ review.purchase_date }}</h5>
                            <p class="card-text">{{ review.review }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="text-center">
            <p>No reviews available.</p>
        </div>
        {% endif %}


    </div>

    <!-- Footer -->
    {% include "djangoapp/footer.html" %}

</body>

</html>